@model MTGDeckBuilder.Models.DeckTB

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="search_container">
<h2>Details</h2>
    <h4>DeckTB</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlayerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeckName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeckName)
        </dd>

    </dl>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DeckId }) |
    @Html.ActionLink("Back to List", "Index")
</div>

