@model IEnumerable<MTGDeckBuilder.Models.DeckTB>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@if (Session["Id"] != null)
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DeckId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeckName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.DeckId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PlayerId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DeckName)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.DeckId }) |
        @Html.ActionLink("Details", "Details", new { id = item.DeckId }) |
        @Html.ActionLink("View Cards", "Index", "CardsInDeckTBs", new { deckId = item.DeckId}, null) |
        @Html.ActionLink("Delete", "Delete", new { id = item.DeckId })
    </td>
</tr>
    }
 

</table>

}
else
{
    <h1>LOGIN FIRST</h1>
}
